html, body {
  width: 100%;
  height: 100%;
}

#container {
  padding: 20px 300px 20px 300px
}

h2 {
  margin-bottom: 0px;
}

table {
  padding: 10px 20px 10px 10px
}

th, td {
  text-align: left;
  padding: 5px;
}

.date {
  float: right;
}

.location {
  float: right;
}

.title {
  padding-left: 10px;
}

.description {
  width: 75%;
}
